.log-content form {
    background-color: rgb(31, 26, 26);
    color: rgb(233, 221, 221);
    width: 80%;
    font-size: 20px;
    margin: 20px auto;
    border-radius: 10px;
}

.log-content form {
    text-align: center;
    padding: 10px;
}

.log-content .log-legend {
    font-size: 30px;
    color: rosybrown;
    margin-bottom: 30px;
}

input{
    margin-bottom: 20px;
    width: 50%;
    cursor: pointer;
    line-height: 2;
    background-color: rgb(233, 221, 221);
}

input:hover{
    background-color: rosybrown;
}

label {
    display: block;
}

.log-input {
    width: 40%;
    background-color: rosybrown;;
    cursor: pointer;
    line-height: 3;
    color: rgb(233, 221, 221);
    font-size: 20px;
}

.log-input:hover {
    background-color: rgb(233, 221, 221);
    color: rgb(31, 26, 26);
}