.sign-form {
    background-color: rgb(31, 26, 26);
    color: rgb(233, 221, 221);
    width: 600px;
    font-size: 20px;
    margin: 0 auto;
    border-radius: 10px;
}

.sign-form .content {
    text-align: center;
    padding: 10px;
}

.sign-form  .sign-legend {
    font-size: 30px;
    color: rosybrown;
    margin-bottom: 30px;
}

input{
    margin-bottom: 20px;
    width: 300px;
    cursor: pointer;
    line-height: 2;
    background-color: rgb(233, 221, 221);
}

input:hover{
    background-color: rosybrown;
}

label {
    display: block;
}

.sign-form .sign-input {
    width: 200px;
    background-color: rosybrown;;
    cursor: pointer;
    line-height: 3;
    color: rgb(233, 221, 221);
    font-size: 20px;
}

.sign-form .sign-input:hover {
    background-color: rgb(233, 221, 221);
    color: rgb(31, 26, 26);
}